<%= form_for [:admin, @item] do |f| %>

  <div class="form-group">
    <%= f.label :title %><br />
    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
    <%= f.text_field :title, placeholder: 'service' %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br />
    <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
    <%= f.text_area :description, placeholder: 'description of service' %>
  </div>
  <div class="form-group">
    <%= f.label :unit, 'Unit' %><br />
    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
    <%= f.select :unit,
      Item.units.keys.map {|unit| [unit.titleize,unit]} %>
  </div>
  <div class="form-group">
    <%= f.label :unit_price %><br />
    <span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
    <%= f.number_field :unit_price, step: '0.01', min:'0.01', value: (@item.unit_price || 0) / 100.0 %>
  </div>
  <div class="form-group">
    <%= f.label :image_url %><br />
    <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
    <%= f.url_field :image_url %>
  </div>
  <div class="form-group">
    <%= f.label :category_id, 'Category' %><br />
    <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
    <%= f.collection_select :category_id,
      @categories,
      :id, :name,
      prompt: true
    %>
  </div>
  <%= f.submit class: "btn btn-success" %>

<% end %>
