<li class="order-item listing list-group-item">
  <h4>Service: <%= link_to order_item.item.title, item_path(order_item.item) %></h4>
  <h4>Quantity: <%= order_item.quantity %></h4>
  <h4>Unit: <%= order_item.original_unit.titleize %></h4>
  <h4>Unit Cost: <%= in_dollars(order_item.original_unit_price) %></h4>
  <h4><strong>Subtotal: <%= in_dollars(order_item.subtotal) %></strong></h4>
</li>
