<h2>Order Details</h2>

<p>Purchaser: <%= @order.original_purchaser %></p>
<% if @order.original_address %>
  <p>Service Adress: <%= @order.original_address %></p>
<% end %>
<p>Order Placed: <%= @order.format_created_time %></p>
<p>Status: <%= @order.status.capitalize %></p>
<b>Total Cost: <%= in_dollars(@order.total_cost) %></b>

<ul>
  <h2>Services Ordered</h2>
  <%= render @order.order_items %>
</ul>
