<h1>Order Details</h1>

<h3>Purchaser Information</h3>
<p>Name: <%= @order.original_purchaser %></p>
<p>Address: <%= @order.original_address %></p>
<p>Order Placed: <%= @order.format_created_time %></p>
<p>Status: <%= @order.status.capitalize %></p>
<b>Total Cost: <%= in_dollars(@order.total_cost) %></b>

<ul>
  <h2>Services Ordered</h2>
  <%= render @order.order_items %>
</ul>
