<h2>Order Details</h2>

<p>Purchaser: <%= @order.purchaser_name %></p>
<% if @order.service_address %>
  <p>Service Adress: <%= @order.service_address %></p>
<% end %>
<p>Time: <%= @order.created_at %></p>
<p>Status: <%= @order.status %></p>

<ul>
  <h2>Items</h2>
  <%= render @order.order_items %>
  <b>Total Cost: <%= in_dollars(@order.total_cost) %></b>
</ul>
