<h2>Your Order</h2>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panal-title">Current Status: <%= @order.status.capitalize %></h3>
    <h3 class="panal-heading">Ordered: <%= @order.format_created_time %></h3>
    <% unless @order.ordered? %>
      <h4><%= @order.status.capitalize %>: <%= @order.format_updated_time %></h4>
    <% end %>
  </div>
  <div class="panal-body">
    <%= render @order.order_items %>
  </div>
  <div class="panal-footer">
      <h3>Total Cost: <%= in_dollars(@order.total_cost) %></h3>
  </div>
</div>
