<h1> Your Cart </h1>

<div class='cart-items'>
<% if @items.empty? %>
  No services selected yet! Choose a service to get started!
<% else %>
  <ul class="list-group">
    <% @items.each do |item, quantity| %>
    <li class="list-group-item">
      <%= image_tag(item.image_url, size: "100x100", alt: item.title) %>
      <br />
      <h2> Service: <%= link_to "#{item.title}", item_path(item) %> </h2>
      <h3> Description: <%= item.description %> </h3>
      <h4> Unit: <%= item.unit.titleize %> </h4>
      <h4> Unit Price: <%= in_dollars(item.unit_price) %> </h4>
      <%= form_tag(cart_path, method: :put) do %>
        <h4> <%= label_tag("Quantity") %> </h4>
        <%= number_field_tag("quantity", "#{quantity}") %>
        <%= hidden_field_tag :item_id, item.id %>
        <br />
        <br />
        <%= submit_tag("Update Quantity", class: "btn btn-primary") %>
      <% end %>
      <h4> Item Subtotal: <%= in_dollars(item.subtotal(quantity)) %> </h4>
      <%= link_to "Remove Item", cart_path(item_id: item.id), method: :delete, class: "btn btn-danger" %>
      <br />
      <br />
      </li>
    <% end %>
  </ul>

  <h4> Total Before Tax: <%= in_dollars(@cart.total_price) %> </h4><br>
  <% if logged_in? %>
  <%= button_to "Checkout", orders_path(order_created: true), class: "btn btn-success" %>
  <% else %>
  <%= link_to "Login or Create Account to Checkout",  login_path, class: "btn btn-success" %>
  <% end %>
<% end %>
</div>
