<h2> Your Cart </h2>

<div class='cart-items'>
<% if @items.empty? %>
  No items yet! Choose a service to get started!
<% else %>
  <% @items.each do |item, quantity| %>
    Item: <%= item.title %>
    <%= form_tag(cart_path, method: :put) do %>
      <%= label_tag("Quantity") %>
      <%= number_field_tag("quantity", "#{quantity}") %>
      <%= hidden_field_tag :item_id, item.id %>
      <%= submit_tag("Update Quantity") %>
    <% end %>
    Description: <%= item.description %>
    Price: <%= in_dollars(item.price) %>
    Item Subtotal: <%= in_dollars(item.subtotal_price(quantity)) %>
    <%= image_tag(item.image_url, size: "100x100", alt: item.title) %>
    <%= link_to "Remove", cart_path(item_id: item.id), method: :delete %>
  <% end %>

  Total Before Tax: $<%= @cart.total_price %>
<% end %></div>

<% if current_user %>
  <%= button_to "Checkout", orders_path %>
<% else %>
  <%= link_to "Login or Create Account to Checkout",  login_path %>
<% end %>
