<h1><%= @item.title %></h1>
<%= image_tag(@item.image_url, size: "100", alt: @item.title) %>
<h3>Price: $<%= @item.price %></h3>
<h3>Description: <%= @item.description %></h3>
<%= button_to "Add to Cart", cart_path(item_id: @item.id), class: 'add-to-cart' %>
