<h1>Admin Dashboard</h1>

<%= link_to "Update Profile Information", admin_edit_path, class: 'btn btn-md btn-success' %>
<br />
<br />
<div class="breakdown-box">
  <div class="order-breakdown">
    <h3> Order Breakdown </h3>
    <h4> <%= "Ordered (#{@all_orders.ordered.count})" %></h4>
    <h4> <%= "Paid (#{@all_orders.paid.count})" %> </h4>
    <h4> <%= "Cancelled (#{@all_orders.cancelled.count})" %> </h4>
    <h4> <%= "Completed (#{@all_orders.completed.count})" %> </h4>
  </div>
</div>

<h2> All Orders </h2>
<div class="navbar nav">
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Filter By Status
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu admin-drop" aria-labelledby="statusDropdown">
      <li><%= link_to "All", admin_dashboard_path %></li>
      <li><%= link_to "Ordered", admin_dashboard_path(status: "ordered") %></li>
      <li><%= link_to "Paid", admin_dashboard_path(status: "paid") %></li>
      <li><%= link_to "Completed", admin_dashboard_path(status: "completed") %></li>
      <li><%= link_to "Cancelled", admin_dashboard_path(status: "cancelled") %></li>
    </ul>
  </div>
</div>

<ul class="list-group">
  <%= render @orders %>
</ul>
