<!DOCTYPE html>
<html>
  <head>
    <title>Gighub</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render 'navigation' %>
    <% flash.each do |type, message| %>
      <%= render 'flash_message', type: type, message: message %>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
